#outer
{height:1000px;
width:1000px;
//border:1px solid white;
margin:0px auto;
}
body
{background-color:green;
}
#menu
{
height:50px;
width:1000px;
background-color:white;
border-radius:20px 20px 0px 0px;
border:1px solid white;
}
#menu ul
{
list-style-type:none;
}
#menu ul li
{
display:inline;
width:100px;
padding:15px;
background-color:black;
margin-top:10px;
border-radius:20px;
text-align:center;
}
#menu ul li a
{
text-decoration:none;
color:white;
}
#menu ul li :hover
{
background-color:green;
}
#slider
{
height:250px;
width:1000px;
background-color:white;
margin-top:5px;
}
#main
{
height:450px;
width:992px;
margin-top:5px;
background-color:white;
padding:5px;
border-radius:0 0 20px 20px;
}